<a href="https://colab.research.google.com/github/armeh429/A-journey-to-learn-Python-modules/blob/main/create_ETL_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install glob
!pip install pandas
!pip install requests
!pip install datetime

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.3)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)

In [2]:
import glob
import pandas as pd
from datetime import datetime

get the source file

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-10-25 07:27:53--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-10-25 07:27:54 (705 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2021-10-25 07:27:54--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-10-25 07:27:54 (399 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2021-10-25 07:27:54--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2021-10-25 07:27:54 (171 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

#Extract

##JSON Extract Function

This function will extract JSON files

In [4]:
def extract_from_json(file_to_process):
  dataFrame = pd.read_json(file_to_process)
  return dataFrame

#Extract Function

Define the extract function that finds JSON file bank_market_cap_1.json and calls the function created above to extract data from them. Store the data in a pandas dataframe. Use the following list for the column

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract():
  extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
  for jsonfile in glob.glob('bank_market_cap_1.json'):
      extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
  return extracted_data

**Question 1** Load the file exchange_rates.csv as a dataframe and find the exchange rate for British pounds with the symbol GBP, store it in the variable exchange_rate, you will be asked for the number. Hint: set the parameter index_col to 0.

In [7]:
csv_dataframe = pd.read_csv('exchange_rates.csv',index_col=0)
exchange_rate = csv_dataframe.loc['GBP','Rates']
exchange_rate

0.7323984208000001

#Transform

Using exchange_rate and the exchange_rates.csv file find the exchange rate of USD to GBP. Write a transform function that


1.   Changes the Market Cap (US$ Billion) column from USD to GBP

2.   Rounds the Market Cap (US$ Billion)  column to 3 decimal places

3.   Rename Market Cap (US$ Billion) to Market Cap (GBP$ Billion)

In [8]:
def transform(data):
    data['Market Cap (US$ Billion)']= round(data['Market Cap (US$ Billion)']*exchange_rate,3)
    data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

#**Load**

Create a function that takes a dataframe and load it to a csv named bank_market_cap_gbp.csv. Make sure to set index to False.

In [9]:
def load(data_to_load):
    # Write your code here
    data_to_load.to_csv("bank_market_cap_gbp.csv", index=False)

#**Logging Function**

Write the logging function log to log your data:

In [10]:
def log(message):
    # Write your code here
    timestamp_format= '%h-%d-%Y:%H:%M:%S'
    now= datetime.now()
    timestamp= now.strftime(timestamp_format)
    #with open("logfile.txt",'a') as data:
    print(timestamp+', '+message+'\n')

#Running the ETL Process

Log the process accordingly using the following "ETL Job Started" and "Extract phase Started"

In [11]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

Oct-25-2021:07:27:54, ETL Job Started

Oct-25-2021:07:27:54, Extract phase Started

#**Extract**

Question 2 Use the function extract, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
extracted_data=extract()
# Print the rows here
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as "Extract phase Ended"

In [13]:
# Write your code here
log("Extract phase Ended")

Oct-25-2021:07:27:54, Extract phase Ended

##**Transform**

Log the following "Transform phase Started"

In [14]:
# Write your code here
log("Transform phase Started")
# Call the function here
transformed_data=transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

Oct-25-2021:07:27:54, Transform phase Started

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

#**Load**
Log the following "Load phase Started"

In [15]:
# Write your code here
log("Load phase Started")
# Write your code here
load(transformed_data)
# Write your code here
log("Load phase Ended")

Oct-25-2021:07:28:55, Load phase Started

Oct-25-2021:07:28:55, Load phase Ended