<a href="https://colab.research.google.com/github/armeh429/A-journey-to-learn-Python-modules/blob/main/pycoingecko.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [11]:
!pip install pycoingecko
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

Requirement already satisfied: pycoingecko in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)

In [21]:
bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd',days = 30)
df = pd.DataFrame(data = bitcoin_data)
df

                                  prices  ...                        total_volumes
0     [1631962954642, 48681.11950688954]  ...  [1631962954642, 28724304836.804264]
1     [1631966648754, 48593.85014117169]  ...  [1631966648754, 28757315861.139015]
2     [1631970262025, 48450.87234962142]  ...  [1631970262025, 28747854174.828053]
3    [1631974142699, 48571.753422922404]  ...  [1631974142699, 28624299982.364952]
4    [1631977347834, 48543.345033666934]  ...   [1631977347834, 28187601447.85051]
..                                   ...  ...                                  ...
716    [1634537269918, 62503.0924159891]  ...  [1634537269918, 32017152597.244495]
717  [1634541879469, 62794.042756009745]  ...  [1634541879469, 33289058581.884518]
718  [1634544408298, 62197.351888171965]  ...  [1634544408298, 33513080495.829716]
719   [1634547869355, 62037.87511479826]  ...  [1634547869355, 34335948911.547844]
720   [1634552372000, 61011.36172797056]  ...   [1634552372000, 35027396612.23578]

[721 rows x 3 columns]